<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wo sehe ich meinen Highscore?
      </mat-panel-title>
      <mat-panel-description>
        <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Die Highscoreansicht ist über die Navigationsleiste oben rechts erreichbar. Sollte kein Highscore Button zu sehen sein, müssen Sie sich zuerst einloggen</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Ich kann mich nicht registrieren
      </mat-panel-title>
      <mat-panel-description>
         <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Befolgen Sie die Fehlermeldungen auf der Registrierungsseite. Mögliche Fehler sind eine ungültige E-Mail Adresse,</p>
    <p>ein zu kurzes Passwort, eine falsche Wiederholung des Passworts oder eine bereits vergebene E-Mail Adresse</p>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
    Es wird kein Login Button angezeigt
      </mat-panel-title>
      <mat-panel-description>
         <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Möglicherweise sind Sie noch von Ihrem letzten Besuch auf der Website eingeloggt.</p>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
     Ich finde das FAQ nicht
      </mat-panel-title>
      <mat-panel-description>
         <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Klicken Sie oben rechts auf FAQ</p>
</mat-expansion-panel>




  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
      Website wird nicht korrekt angezeigt
      </mat-panel-title>
      <mat-panel-description>
         <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Wenn es zu Problemen mit der Websiteanzeige kommt, stellen Sie sicher, dass Sie Javascript in den Browsereinstellungen aktiviert haben.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lorem ipsum dolor sit amet
      </mat-panel-title>
      <mat-panel-description>
         <!--This is a summary of the content-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
    <p> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </mat-expansion-panel>

