<h1>{{title}}</h1>
<mat-toolbar>
    <span>My App</span>
  <span class="example-spacer"></span>
  <a mat-raised-button color="primary" type = "button" routerLink="/login">Login</a>
  <a mat-raised-button color="primary" type = "button" routerLink="/signup">Sign Up</a>
  <a mat-raised-button color="primary" type = "button" routerLink="/login" (click)="logout()">Logout</a>
<!--Debug-->
  <a mat-raised-button color="primary" type = "button" routerLink="/puzzle">Puzzle</a>


</mat-toolbar>
<mat-divider></mat-divider>
<router-outlet></router-outlet>