<h1>{{title}}</h1>
<mat-toolbar>
    <span>My App</span>
  <span class="example-spacer"></span>
  <a id="blogin" mat-raised-button color="primary" type = "button" routerLink="/login">Login</a>
  <a id="bsignup" mat-raised-button color="primary" type = "button" routerLink="/signup">Sign Up</a>
  <a id="blogout" mat-raised-button color="primary" type = "button" routerLink="/login" (click)="logout()">Logout</a>
<!--Debug-->
  <a id="bpuzzle" mat-raised-button color="primary" type = "button" routerLink="/puzzle">Puzzle</a>
  <a id="bprofile" mat-raised-button color="primary" type = "button" routerLink="/profile">Profile</a>
  <a id="bfaq" mat-raised-button color="primary" type = "button" routerLink="/faq">FAQ</a>
</mat-toolbar>
<mat-divider></mat-divider>
<router-outlet></router-outlet>